html {
  background: #ececec;
}
body {
  height: 100vh;
  width: 100vw;
}
.grid-wrapper {
  background: #ececec;
  width: 32em;
  height: 32em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-row {
  height: 16em;
}
.square-wrapper {
  float: left;
  width: 16em;
  height: 16em;
}
.square {
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
}
.square:hover {
  transform: scale(1.25);
  transition: transform 0.25s;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 44em) {
  .grid-wrapper {
    width: 28em;
    height: 28em;
  }
  .grid-row {
    height: 12em;
  }
  .square-wrapper {
    width: 12em;
    height: 12em;
  }
}
